
.web {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.web .div {
  background-color: #ffffff;
  width: 600px;
  height: 1681px;
  position: relative;
}

.web .overlap {
  position: absolute;
  width: 600px;
  height: 312px;
  top: 15px;
  left: 0;
}

.web .overlap-group {
  position: absolute;
  width: 600px;
  height: 311px;
  top: 0;
  left: 0;
}

.web .group {
  position: absolute;
  width: 600px;
  height: 216px;
  top: 37px;
  left: 0;
}

.web .l-actualit-savourer {
  position: absolute;
  top: 84px;
  left: 38px;
  font-family: "Raleway", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 32px;
}

.web .text-wrapper {
  font-family: "Raleway", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 32px;
}

.web .span {
  font-weight: 700;
  font-size: 27px;
}

.web .rectangle {
  position: absolute;
  width: 600px;
  height: 8px;
  top: 257px;
  left: 0;
  background-color: #004c69;
}

.web .smoke {
  position: absolute;
  width: 45px;
  height: 152px;
  top: 71px;
  left: 522px;
  object-fit: cover;
}

.web .group-2 {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 151px;
  left: 113px;
  background-image: url(./img/rectangle-4.png);
  background-size: cover;
  background-position: 50% 50%;
}

.web .ellipse {
  position: absolute;
  width: 309px;
  height: 153px;
  top: 54px;
  left: 223px;
  border-radius: 154.5px/76.5px;
  mix-blend-mode: multiply;
  background: radial-gradient(50% 50% at 50% 50%, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.69;
}

.web .rectangle-2 {
  position: absolute;
  width: 600px;
  height: 40px;
  top: 217px;
  left: 0;
  background-color: #2190b9;
}

.web .element {
  position: absolute;
  width: 100px;
  height: 75px;
  top: 185px;
  left: 493px;
  object-fit: cover;
}

.web .element-laptop {
  position: absolute;
  width: 422px;
  height: 282px;
  top: 0;
  left: 156px;
  object-fit: cover;
}

.web .text-wrapper-2 {
  position: absolute;
  top: 280px;
  left: 166px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 19px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31px;
  white-space: nowrap;
}

.web .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 469px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 600;
  color: #319dc6;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.web .logo {
  position: absolute;
  width: 89px;
  height: 24px;
  top: 1px;
  left: 38px;
  object-fit: cover;
}

.web .group-3 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 287px;
  left: 400px;
  background-image: url(./img/rectangle-8.png);
  background-size: cover;
  background-position: 50% 50%;
}

.web .overlap-2 {
  position: absolute;
  width: 556px;
  height: 152px;
  top: 640px;
  left: 0;
}

.web .overlap-3 {
  position: absolute;
  width: 556px;
  height: 152px;
  top: 0;
  left: 0;
}

.web .component {
  position: absolute;
  width: 152px;
  height: 24px;
  top: 128px;
  left: 308px;
  background-color: #4fbee7;
  border-radius: 8px;
}

.web .text-wrapper-4 {
  position: absolute;
  top: -6px;
  left: 22px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31px;
  white-space: nowrap;
}

.web .p {
  position: absolute;
  width: 249px;
  top: 66px;
  left: 307px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 400;
  color: #2e2e2e;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16px;
}

.web .NEA {
  position: absolute;
  width: 224px;
  height: 127px;
  top: 4px;
  left: 96px;
  object-fit: cover;
}

.web .podcast-sur-la-e {
  position: absolute;
  top: 10px;
  left: 306px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 19px;
  line-height: 24px;
}

.web .text-wrapper-5 {
  letter-spacing: 0;
}

.web .path {
  position: absolute;
  width: 98px;
  height: 31px;
  top: 89px;
  left: 0;
}

.web .ellipse-2 {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 0;
  left: 56px;
  background-color: #ffd35c;
  border-radius: 28px;
}

.web .ellipse-3 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 16px;
  left: 216px;
  background-color: #ffd35c;
  border-radius: 20px;
}

.web .ellipse-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 88px;
  left: 176px;
  background-color: #ffd35c;
  border-radius: 20px;
}

.web .img {
  position: absolute;
  width: 29px;
  height: 15px;
  top: 21px;
  left: 70px;
}

.web .group-4 {
  position: absolute;
  width: 18px;
  height: 22px;
  top: 97px;
  left: 187px;
}

.web .group-5 {
  position: absolute;
  width: 13px;
  height: 11px;
  top: 31px;
  left: 229px;
}

.web .group-6 {
  position: absolute;
  width: 19px;
  height: 6px;
  top: 37px;
  left: 123px;
}

.web .rectangle-3 {
  position: absolute;
  width: 96px;
  height: 2px;
  top: 79px;
  left: 0;
  background-color: #1a1a1a;
}

.web .overlap-4 {
  position: absolute;
  width: 600px;
  height: 216px;
  top: 408px;
  left: 0;
  background-color: #f8f8f8;
}

.web .le-portrait-du-CEO {
  position: absolute;
  top: 19px;
  left: 37px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 19px;
  letter-spacing: 0;
  line-height: 24px;
}

.web .text-wrapper-6 {
  position: absolute;
  width: 249px;
  top: 98px;
  left: 37px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 400;
  color: #2e2e2e;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16px;
}

.web .overlap-5 {
  position: absolute;
  width: 104px;
  height: 31px;
  top: 155px;
  left: 38px;
}

.web .rectangle-4 {
  position: absolute;
  width: 104px;
  height: 24px;
  top: 6px;
  left: 0;
  background-color: #4fbee7;
  border-radius: 8px;
}

.web .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 22px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31px;
  white-space: nowrap;
}

.web .group-7 {
  position: absolute;
  width: 128px;
  height: 127px;
  top: 54px;
  left: 374px;
}

.web .group-8 {
  position: absolute;
  width: 7px;
  height: 9px;
  top: 86px;
  left: 25px;
}

.web .group-9 {
  position: absolute;
  width: 10px;
  height: 13px;
  top: 16px;
  left: 238px;
}

.web .overlap-6 {
  position: absolute;
  width: 600px;
  height: 208px;
  top: 1240px;
  left: 0;
  background-color: #5cc9fc;
  border-radius: 22px;
}

.web .overlap-7 {
  position: absolute;
  width: 341px;
  height: 105px;
  top: 33px;
  left: 61px;
}

.web .travailler-sobrus-c {
  position: absolute;
  width: 322px;
  top: 0;
  left: 0;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16px;
}

.web .hajar-g {
  position: absolute;
  top: 84px;
  left: 0;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 700;
  color: #23536a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.web .text-wrapper-8 {
  position: absolute;
  top: 86px;
  left: 62px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 600;
  color: #23536a;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 19px;
  white-space: nowrap;
}

.web .group-10 {
  position: absolute;
  width: 21px;
  height: 16px;
  top: 72px;
  left: 320px;
}

.web .div-wrapper {
  width: 214px;
  top: 152px;
  left: 56px;
  background-color: #ffffff;
  position: absolute;
  height: 24px;
  border-radius: 8px;
}

.web .text-wrapper-9 {
  position: absolute;
  top: -6px;
  left: 23px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 400;
  color: #4fbee7;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31px;
  white-space: nowrap;
}

.web .group-11 {
  position: absolute;
  width: 21px;
  height: 16px;
  top: 29px;
  left: 32px;
}

.web .overlap-8 {
  position: absolute;
  width: 141px;
  height: 128px;
  top: 39px;
  left: 435px;
}

.web .mask-group {
  position: absolute;
  width: 128px;
  height: 118px;
  top: 10px;
  left: 13px;
}

.web .group-12 {
  position: absolute;
  width: 133px;
  height: 124px;
  top: 0;
  left: 0;
}

.web .overlap-9 {
  position: absolute;
  width: 600px;
  height: 176px;
  top: 832px;
  left: 0;
  background-image: url(./img/path-10.svg);
  background-size: 100% 100%;
}

.web .overlap-10 {
  position: absolute;
  width: 249px;
  height: 96px;
  top: 35px;
  left: 31px;
}

.web .parce-que-nous {
  position: absolute;
  width: 249px;
  top: 0;
  left: 0;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 400;
  color: #2e2e2e;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16px;
}

.web .text-wrapper-10 {
  position: absolute;
  width: 249px;
  top: 48px;
  left: 0;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 400;
  color: #2db8eb;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16px;
}

.web .overlap-11 {
  position: absolute;
  width: 300px;
  height: 169px;
  top: 7px;
  left: 300px;
  background-image: url(./img/giftpng.png);
  background-size: cover;
  background-position: 50% 50%;
}

.web .group-13 {
  position: absolute;
  width: 12px;
  height: 15px;
  top: 7px;
  left: 79px;
}

.web .group-14 {
  position: absolute;
  width: 6px;
  height: 8px;
  top: 15px;
  left: 186px;
}

.web .nous-sommes-heureux {
  position: absolute;
  width: 488px;
  top: 330px;
  left: 55px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 500;
  color: #2e2e2e;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.web .sobrus-a-pour {
  position: absolute;
  width: 476px;
  top: 1497px;
  left: 61px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 300;
  color: #2e2e2e;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.web .text-wrapper-11 {
  position: absolute;
  top: 1463px;
  left: 195px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 19px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31px;
  white-space: nowrap;
}

.web .text-wrapper-12 {
  position: absolute;
  top: 1581px;
  left: 260px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.web .component-2 {
  width: 204px;
  top: 1179px;
  left: 308px;
  background-color: #4fbee7;
  position: absolute;
  height: 24px;
  border-radius: 8px;
}

.web .text-wrapper-13 {
  position: absolute;
  top: -6px;
  left: 23px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: 31px;
  white-space: nowrap;
}

.web .webinaire-simplifiez {
  position: absolute;
  top: 1045px;
  left: 307px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 19px;
  line-height: 24px;
}

.web .calendar {
  position: absolute;
  width: 21px;
  height: 20px;
  top: 1142px;
  left: 316px;
}

.web .overlap-group-2 {
  position: relative;
  width: 22px;
  height: 20px;
  left: -1px;
}

.web .path-2 {
  position: absolute;
  width: 21px;
  height: 18px;
  top: 2px;
  left: 1px;
}

.web .path-3 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 2px;
  left: 2px;
}

.web .path-4 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 2px;
  left: 1px;
}

.web .path-5 {
  position: absolute;
  width: 2px;
  height: 18px;
  top: 2px;
  left: 1px;
}

.web .path-6 {
  position: absolute;
  width: 18px;
  height: 5px;
  top: 2px;
  left: 1px;
}

.web .path-7 {
  position: absolute;
  width: 2px;
  height: 5px;
  top: 2px;
  left: 1px;
}

.web .group-15 {
  position: absolute;
  width: 12px;
  height: 2px;
  top: 3px;
  left: 4px;
}

.web .rectangle-5 {
  position: absolute;
  width: 20px;
  height: 3px;
  top: 6px;
  left: 0;
  background-color: #f0fffe;
}

.web .rectangle-6 {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 6px;
  left: 0;
  background-color: #d2e0df;
}

.web .img-2 {
  width: 1px;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 0;
}

.web .img-3 {
  left: 9px;
  position: absolute;
  width: 1px;
  height: 4px;
  top: 0;
}

.web .img-4 {
  left: 14px;
  position: absolute;
  width: 1px;
  height: 4px;
  top: 0;
}

.web .group-16 {
  position: absolute;
  width: 11px;
  height: 4px;
  top: 0;
  left: 4px;
}

.web .path-8 {
  position: absolute;
  width: 2px;
  height: 6px;
  top: 11px;
  left: 9px;
}

.web .overlap-12 {
  position: absolute;
  width: 248px;
  height: 150px;
  top: 1040px;
  left: 32px;
}

.web .group-wrapper {
  position: absolute;
  width: 248px;
  height: 141px;
  top: 9px;
  left: 0;
}

.web .group-17 {
  position: relative;
  height: 141px;
}

.web .overlap-group-3 {
  width: 248px;
  height: 137px;
  left: 0;
  position: absolute;
  top: 0;
}

.web .group-18 {
  position: absolute;
  width: 201px;
  height: 132px;
  top: 1px;
  left: 25px;
  background: linear-gradient(
    180deg,
    rgb(154, 154, 154) 0%,
    rgb(161, 161, 161) 9.34%,
    rgb(183, 183, 183) 23.68%,
    rgb(217, 217, 217) 41.13%,
    rgb(226, 226, 226) 44.7%,
    rgb(197, 197, 197) 100%
  );
}

.web .group-19 {
  position: absolute;
  width: 201px;
  height: 7px;
  top: 0;
  left: 24px;
  background: linear-gradient(
    180deg,
    rgb(64, 64, 64) 0%,
    rgb(66, 66, 66) 27.99%,
    rgb(74, 74, 74) 44.78%,
    rgb(89, 89, 89) 58.61%,
    rgb(109, 109, 109) 70.84%,
    rgb(135, 135, 135) 82%,
    rgb(167, 167, 167) 92.24%,
    rgb(197, 197, 197) 100%
  );
}

.web .group-20 {
  position: absolute;
  width: 201px;
  height: 133px;
  top: 1px;
  left: 25px;
}

.web .group-21 {
  position: relative;
  height: 133px;
}

.web .rectangle-7 {
  position: absolute;
  width: 199px;
  height: 4px;
  top: 129px;
  left: 1px;
  background-color: #3d3d3d;
}

.web .path-9 {
  position: absolute;
  width: 199px;
  height: 129px;
  top: 0;
  left: 1px;
}

.web .path-10 {
  position: absolute;
  width: 201px;
  height: 1px;
  top: 132px;
  left: 0;
}

.web .group-22 {
  position: absolute;
  width: 124px;
  height: 4px;
  top: 134px;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(146, 146, 146) 0%,
    rgb(193, 193, 193) 1.39%,
    rgb(176, 176, 176) 2.76%,
    rgb(156, 156, 156) 4.87%,
    rgb(164, 164, 164) 7.17%,
    rgb(175, 175, 175) 9.09%,
    rgb(207, 207, 207) 100%
  );
}

.web .group-23 {
  position: absolute;
  width: 248px;
  height: 1px;
  top: 133px;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(248, 248, 248) 0%,
    rgb(248, 248, 248) 0.55%,
    rgb(208, 208, 208) 6.39%,
    rgb(248, 248, 248) 50.25%,
    rgb(208, 208, 208) 86.64%,
    rgb(211, 211, 211) 87.52%,
    rgb(232, 232, 232) 95.11%,
    rgb(241, 241, 241) 100%
  );
}

.web .group-24 {
  position: absolute;
  width: 124px;
  height: 4px;
  top: 134px;
  left: 124px;
  background: linear-gradient(
    180deg,
    rgb(207, 207, 207) 0%,
    rgb(175, 175, 175) 90.91%,
    rgb(164, 164, 164) 92.83%,
    rgb(156, 156, 156) 95.13%,
    rgb(176, 176, 176) 97.24%,
    rgb(193, 193, 193) 98.61%,
    rgb(146, 146, 146) 100%
  );
}

.web .group-25 {
  position: absolute;
  width: 124px;
  height: 4px;
  top: 134px;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(102, 102, 102) 0%,
    rgb(213, 213, 213) 1.39%,
    rgb(187, 187, 187) 2.18%,
    rgb(133, 133, 133) 3.99%,
    rgb(112, 112, 112) 4.87%,
    rgb(120, 120, 120) 5.72%,
    rgb(141, 141, 141) 7.05%,
    rgb(177, 177, 177) 8.67%,
    rgb(188, 188, 188) 9.09%,
    rgb(241, 241, 241) 100%
  );
}

.web .group-26 {
  position: absolute;
  width: 124px;
  height: 4px;
  top: 134px;
  left: 124px;
  background: linear-gradient(
    180deg,
    rgb(241, 241, 241) 0%,
    rgb(188, 188, 188) 90.91%,
    rgb(177, 177, 177) 91.33%,
    rgb(141, 141, 141) 92.95%,
    rgb(120, 120, 120) 94.28%,
    rgb(112, 112, 112) 95.13%,
    rgb(133, 133, 133) 96.01%,
    rgb(187, 187, 187) 97.82%,
    rgb(213, 213, 213) 98.61%,
    rgb(102, 102, 102) 100%
  );
}

.web .group-27 {
  position: absolute;
  width: 35px;
  height: 3px;
  top: 133px;
  left: 106px;
  background: linear-gradient(
    180deg,
    rgb(159, 159, 159) 0%,
    rgb(172, 172, 172) 3.95%,
    rgb(229, 229, 229) 51.4%,
    rgb(172, 172, 172) 96.28%,
    rgb(159, 159, 159) 100%
  );
}

.web .group-28 {
  position: absolute;
  width: 36px;
  height: 3px;
  top: 133px;
  left: 106px;
  background-image: url(./img/rectangle-43.png);
  background-size: cover;
  background-position: 50% 50%;
}

.web .group-29 {
  position: absolute;
  width: 191px;
  height: 118px;
  top: 8px;
  left: 29px;
  background-image: url(./img/rectangle-46.png);
  background-size: cover;
  background-position: 50% 50%;
}

.web .group-30 {
  position: absolute;
  width: 191px;
  height: 108px;
  top: 8px;
  left: 29px;
  background-image: url(./img/rectangle-49.png);
  background-size: cover;
  background-position: 50% 50%;
}

.web .group-31 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 2px;
  left: 222px;
}

.web .group-32 {
  position: absolute;
  width: 248px;
  height: 3px;
  top: 137px;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(87, 87, 87) 0%,
    rgb(185, 185, 185) 73.89%,
    rgb(181, 181, 181) 84.7%,
    rgb(171, 171, 171) 93.64%,
    rgb(159, 159, 159) 100%
  );
}

.web .group-33 {
  position: absolute;
  width: 15px;
  height: 19px;
  top: 0;
  left: 0;
}

.web .group-34 {
  position: absolute;
  width: 6px;
  height: 7px;
  top: 110px;
  left: 233px;
}

.web .text-wrapper-14 {
  position: absolute;
  top: 1142px;
  left: 345px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 400;
  color: #464646;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.web .overlap-13 {
  position: absolute;
  width: 26px;
  height: 35px;
  top: 1138px;
  left: 502px;
}

.web .text-wrapper-15 {
  position: absolute;
  top: 21px;
  left: 1px;
  -webkit-text-stroke: 0px #434343;
  font-family: "Raleway", Helvetica;
  font-weight: 600;
  color: #464646;
  font-size: 9px;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
}

.web .meet {
  position: absolute;
  width: 26px;
  height: 21px;
  top: 0;
  left: 0;
}

.web .line {
  position: absolute;
  width: 1px;
  height: 25px;
  top: 1140px;
  left: 476px;
  object-fit: cover;
}

.web .group-35 {
  position: absolute;
  width: 299px;
  height: 26px;
  top: 1622px;
  left: 151px;
}

.web .group-36 {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 1px;
  left: 0;
}

.web .group-37 {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 1px;
  left: 91px;
}

.web .img-wrapper {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: 181px;
  background-image: url(./img/rectangle-61.png);
  background-size: cover;
  background-position: 50% 50%;
}

.web .group-38 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  left: 5px;
}

.web .group-39 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 275px;
}
