:root {
  --raleway-bold-19px-font-family: "Raleway-Bold", Helvetica;
  --raleway-bold-19px-font-weight: 700;
  --raleway-bold-19px-font-size: 19px;
  --raleway-bold-19px-letter-spacing: 0px;
  --raleway-bold-19px-line-height: normal;
  --raleway-bold-19px-font-style: normal;
}
